div.about-me {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

img.about-me {
    padding-right: 30px;
}

p.about-me {
    font-size: 3vw;
    color: rgb(255, 255, 255);
    padding-right: 30px;
}

.about-me {
    background-color: rgb(50, 50, 50);
}

tr.myHeader {
    height: 6vw;
    font-size: 5vw;
    background-color: black;
}

table.myTable {
    margin-right: auto;
    border-collapse: collapse;
    width: 99%;
    margin-bottom: 10px;
    border: 2px solid white;
}

th.myTable, td.myTable {
    height: 30px;
    vertical-align: auto;
    padding: 10px;
    border: 1px solid gray;
}

.key-word {
    color: cyan;
}

a.music {
    color: cyan;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    transition: 0.5s;
}

a.music:hover {
    color: pink;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    transition: 0.3s;
}