.emailDiv {
    position: absolute;
    display: inline-flex;
    top: 10vwpx;
    left: 10vw;
    font-size: 5vw;
}

a.email {
    transition: 0.5s ease-out;
    color: blue;
}

a.email:hover {
    transition: 0.2s ease-in-out;
    color: cyan;
}

body {
    background: -webkit-linear-gradient(270deg, black 50%, gray);
}