div.coding-tree {
    background-color: rgb(50, 50, 50);
    height: 550;
}

h1.coding-tree, p.coding-tree {
    padding-left: 30px;
    color: rgb(255, 255, 255);
}

h1.coding-tree {
    font-size: 60px;
    margin-bottom: -30px;
}

p.coding-tree {
    font-size: 30px;
}

img.coding-tree {
    padding-left: 0;
    border-radius: 100px;
}

marquee.coding-tree {
    behavior: initial;
    direction: left;
}