body {
    background-color: orange;
}

h1{
    font-size: 50px;
    background-color: white;
    color: orange;
    text-align: center;
    font-family: "Arial Black";
}

body {
    font-size: 20px;
    color: white;
    font-family: "Arial";
    margin-left: 40px;
}

#uabc {
    font-size: 30px;
}

#uabc ul {
    font-size: 20px;
}