html {
    scroll-behavior: smooth;    /* Para que las transiciones a las secciones al
                                usar los botones sea smooth.*/
}

body {
    background-color: #04294B;
    color: white;
    font-family: 'Calibri';
}

table {
    width: 100%;
}

td {
    /*No tocar. Los valores funcionan bien así. Fue difícil llegar a ellos.*/
    width: 32.4%;
    height: 6vw;
    display: inline-flex;
    padding-right: 0.4%;
}

/* B O T O N E S */

#b-inicio {
    background-image: url(https://i.imgur.com/z1zL6He.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    transition: 0.5s;
}

#b-inicio:hover {
    background-image: url(https://i.imgur.com/KmdGaAR.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    transition: 0.2s;
}

#b-temas {
    background-image: url(https://i.imgur.com/hMaOXE1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    transition: 0.5s;
}

#b-temas:hover {
    background-image: url(https://i.imgur.com/U3VPB1i.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    transition: 0.2s;
}

#b-contacto {
    background-image: url(https://i.imgur.com/9eLs53S.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    transition: 0.5s;
}

#b-contacto:hover {
    background-image: url(https://i.imgur.com/wcTzs08.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    transition: 0.2s;
}

/* Hack The Class */

#section-inicio{
    transition: 1s;
    margin: auto;
    width: 99%;
    text-align: center;
    margin-top: 5vw;
}

.hack-the-class-title {
    transition: 1s;
    color: #FF2929;
    text-align: center;
    margin: auto;
    width: 50%;
    font-weight: bold;
    font-family: "Times New Roman";
    font-size: 10vw;
}

.asesorias {
    display: flex;
    vertical-align: middle;
    width: 50%;
    margin-left: 19%;
}

.asesorias-title {
    transition: 1s;
    color: #FFF74D;
    text-align: center;
    width: 50%;
    font-weight: bold;
    font-family: "Times New Roman";
    font-size: 8vw;
    margin: auto;
}

img.asesorias-title {
    width: 22%;
    margin-right: -2vw;
}

.title-description{
    font-family: "Calibri";
    font-size: 4vw;
}

/* Temas */

#section-temas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

img.infografias {
    width: 100%;
}

picture.infografias {
    margin: 0px;
    padding: 0px;
    width: 48%;
    margin-left: 1.3vw;
    margin-bottom: 1.3vw;
}

/* R E S P O N S I V I T Y */

/*For MOBILE devices*/
@media only screen and (max-width: 600px){
    td{
        display: flex;
        width: 100%;
        height: 17vw;
    }

    .hack-the-class-title {
        font-size: 15vw;
    }

    .asesorias-title {
        font-size: 12vw;
    }

    .title-description{
        font-size: 6vw;
    }

    .asesorias {
        margin-left: 10%;
    }

    picture.infografias {
        width: 33%;
    }
    
}

/*For not so wide screens*/
@media only screen and (max-width: 1080px){
    picture.infografias {
        width: 94%;
        margin-left: 3vw;
        margin-bottom: 3vw;
    }
}