body {
    background-color: #222222;
    color: white;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

#home-menu ul{
    font-family: "Book Antiqua";
    font-size: 20px;
    list-style: none;
    text-align: right;
    color: #693A0C;
}

#home-menu li {
    display: inline;
    padding: 10px;
}

#home-menu a {
    color: white;
    text-decoration: none;
}